workflows/single comment.json
{
  "name": "single comment",
  "nodes": [
    {
      "parameters": {
        "content": "单条评论分析",
        "height": 736,
        "width": 3376
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5376,
        288
      ],
      "typeVersion": 1,
      "id": "0c1970f4-4bb5-4c93-8b92-93cfe61a4d10",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen-turbo-latest",
          "mode": "list",
          "cachedResultName": "ali/qwen-turbo-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6464,
        688
      ],
      "id": "cba84e5c-8b91-435f-bf61-95fa1ef17663",
      "name": "Qwen-turbo",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=用户评论: {{ $json.input }}",
        "options": {
          "systemMessage": "你是基于 Research Onion (解释主义视角) 的“现象观察员”。\n你的任务是阅读用户评论，还原用户所处的真实情境 (Phenomenon)，并进行精准的领域分类。\n\n工具能力，你有一个产品功能模块的知识库，对于陌生产品评论，先调用工具检查该产品的核心功能模块。\n**严禁**进行任何心理分析或优先级判断，只输出客观事实和环境。\n\n**分类标准 (Category Guidelines)**:\n- **Product_Function**: App 内部的功能、交互、性能、UI、支付流程问题。（这是产品经理需要关注的）\n- **Operation_Promotion**: App 外部的激励、推广任务、运营活动。**特指：蚂蚁森林绿色能量、学校/公司强制下载任务、地推礼品没收到、邀请好友奖励未到账。**\n- **Service**: 客服态度、物流发货。\n- **Irrelevant**: 纯乱码、与本软件毫无关系的广告、完全无法理解的内容。\n\n**输出纯 JSON (无 markdown)**:\n{\n  \"category\": \"必须从 [产品功能, 运营, 推广, 用户服务, 不相关] 中选一个\",\n\n  \"feature_focus\": \"如果是产品功能，填具体功能(如: 蓝牙连接)；如果是运营或推广，填具体活动(如: 蚂蚁森林能量)；否则填 N/A\",\n\n  \"user_level\": \"基于行为推断的用户画像\",\n  // 选项:\n  // - \"New User\" (新用户: 找不到入口/初次使用)\n  // - \"Active User\" (活跃用户: 有具体场景/深度使用)\n  // - \"Vip User\" (付费用户: 提及会员权益)\n  // - \"Churn Risk\" (即将流失: 极度愤怒/我要卸载)\n  // - \"Non-Critical\" (非关键: 只有情绪无内容/纯羊毛党)\n  // - \"Unknown\" (不明)\n\n  \"scenario_context\": \"还原用户使用时的物理环境和社会环境 (关键：识别用户是'为了用功能'还是'为了做任务')\",\n  // 示例: \"用户为了获取蚂蚁森林能量而被动下载App，并未真正体验医疗功能。\"\n\n  \"explicit_pain_point\": \"用户明确表达的障碍 (原话摘要)\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6528,
        448
      ],
      "id": "4db1d06b-a06a-4b8b-80c6-a613b14c049c",
      "name": "需求分析"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen3-max",
          "mode": "list",
          "cachedResultName": "ali/qwen3-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7056,
        672
      ],
      "id": "f37ac0f4-954f-438e-93cd-5cac130b87de",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=场景上下文: {{ $json.output }}\n",
        "options": {
          "systemMessage": "你是精通 UTAUT2 理论的心理学专家。你的任务是将“用户场景”转译为“心理构念”。\n实现映射：[Phenomenon] -> [Psychological Construct].\n\n仅根据输入的【场景上下文】进行判断。\n\nUTAUT2 维度定义:\n- PE (有用吗): 核心价值/绩效。\n- EE (好用吗): 交互/门槛。\n- SI (有面子吗): 社交/炫耀。\n- FC (能用吗): 兼容性/条件。\n- HM (爽吗): 情绪/享乐。\n- PV (值吗): 价格。\n- HT (习惯吗): 迁移成本。\n\n请输出纯 JSON:\n1. utaut_dimension: 选出最核心的一个维度 (如: EE)。\n2. utaut_role: Driver (驱动力) / Barrier (阻碍力)。\n3. psychology_tag: 用产品经理能看懂的语言简述 (如: 过高的努力期望值会导致挫败感)。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6992,
        448
      ],
      "id": "7ce9218e-6189-4969-831e-895d31bf11d3",
      "name": "心理转译"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen3-max",
          "mode": "list",
          "cachedResultName": "ali/qwen3-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7408,
        672
      ],
      "id": "fed6b5dc-2266-4b1c-a59f-2bb2adfc73e3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        5888,
        1072
      ],
      "id": "3e8b3270-2141-4896-ab8c-acd29ef385aa",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        5872,
        1296
      ],
      "id": "b0d36aa7-d612-4896-9f4d-94c678674f13",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1024,
        "chunkOverlap": 0.5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5952,
        1504
      ],
      "id": "0b7994ba-951d-4318-a1da-eae028628381",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5648,
        1248
      ],
      "id": "1c1533bf-cbbc-44ea-9855-f924678c01f7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        6240,
        1248
      ],
      "id": "db7bd0b6-d5cd-4ddf-a207-d3d5fc98ef3a"
    },
    {
      "parameters": {
        "model": "Qwen/Qwen3-Embedding-8B",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6752,
        1360
      ],
      "id": "e4acfa80-d1cf-43a8-8d64-4180e123ff4f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xs6X1kmeua2xdrzt",
          "name": "siliconcloud"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat-onboarding",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5424,
        1248
      ],
      "id": "833dc938-ab3d-4f52-9be2-48478bc2e067",
      "name": "Webhook",
      "webhookId": "5afd26b2-1d14-4266-be12-fdf725f19866"
    },
    {
      "parameters": {
        "description": "使用此工具执行基于向量的相关文档检索，检索产品核心功能模块。",
        "topK": 3
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        6592,
        672
      ],
      "id": "924e14a9-934a-49b0-b806-55d9f87520d6",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen3-max",
          "mode": "list",
          "cachedResultName": "ali/qwen3-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6784,
        880
      ],
      "id": "8e4899de-69b9-4442-9c43-e4ed10a73a85",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        6496,
        880
      ],
      "id": "f28e4ff7-362c-4866-a0c2-8b02e2771fa3",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "content": "产品文档分析",
        "height": 640,
        "width": 1552,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5360,
        1040
      ],
      "typeVersion": 1,
      "id": "f62964b0-054b-4d15-bbf5-4b2fc215389a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=场景事实(Agent A): {{ $('需求分析').item.json.output }}\n心理动因(Agent B): {{ $json.output }}\nurl:\n",
        "options": {
          "systemMessage": "你是熟悉RICE评分的产品战略决策官。你的任务是综合“场景”和“心理动因”，输出 PRD 标签。\n实现映射：[Psychological Construct] + [Business Logic] -> [RICE].\n\n工具能力：你可以查看知识库有无历史相似可比的评价情况。\n\n决策逻辑:\n请严格基于以下标准进行估值：\n\n**1. Reach (影响范围 - User Scope)**\n- **100% (Score: 10)**: 核心通用功能 (登录/首页/核心业务流)。\n- **50% (Score: 5)**: 主流功能 (大部分活跃用户会用到)。\n- **20% (Score: 2)**: 细分功能 (仅特定场景/VIP功能)。\n- **5% (Score: 0.5)**: 极边缘功能或个例。\n\n**2. Impact (影响力 - Based on UTAUT2)**\n- **3 (Massive)**: 阻断了 PE (根本没法用) 或 FC (设备不兼容)。\n- **2 (High)**: 严重阻碍 EE (极难用) 导致核心流程中断。\n- **1 (Medium)**: 影响 PV (觉得贵) 或 HT (不习惯)。\n- **0.5 (Low)**: 仅影响 HM (不够爽) 或 SI (没法炫耀)。\n- **0.25 (Minimal)**: 纯视觉微调或文案优化。\n*注：如果是 'Operation_Promotion' (运营活动)，Impact 默认为 0.5 (除非造成大规模舆情)。*\n\n**3. Confidence (信心指数 - Evidence Strength)**\n- **100% (1.0)**: 证据确凿，复现路径清晰，有截图或详细描述。\n- **80% (0.8)**: 描述清晰，逻辑合理。\n- **50% (0.5)**: 描述模糊，只有情绪宣泄，无具体细节。\n\n**4. Effort (工作量预估 - Complexity)**\n- **0.5 (Tiny)**: 文案/配置修改 (1天内)。\n- **1 (Small)**: UI 调整/简单逻辑 (1周内)。\n- **2 (Medium)**: 涉及后端逻辑/新接口 (2周内)。\n- **3 (Large)**: 涉及架构调整/复杂算法 (1月内)。\n- **5 (Extra Large)**: 重构级改动。\n*注：作为 PM 进行保守预估。*\n\n请输出纯 JSON:\n1. category:\"继承需求分析Agent的判断\",\n1. feature_module: \"继承需求分析Agent的判断\",\n2. user_level: \"继承需求分析Agent的判断\", \n3. scenario_context: \"继承需求分析Agent的判断\",\n4. root_cause_category: 问题归因 (如: 性能瓶颈, UX太复杂)。\n5. impact_scope: 影响范围 (如: 病毒式增长, 留存率)。\n6. \"reach_score\": 10,\n7.  \"impact_score\": 3,\n8.  \"confidence_score\": 1.0,\n9.  \"effort_score\": 2,\n10. rationale: 必须基于 UTAUT2 维度用产品经理的通俗语言进行解释，内容中避免提及学术用语。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7344,
        448
      ],
      "id": "23be3a73-f27d-469a-be9a-884f33cdf81c",
      "name": "评分仲裁"
    },
    {
      "parameters": {
        "description": "使用此工具执行基于向量的相关文档检索，检索历史相似、可比历史评价案例。",
        "topK": 3
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        7536,
        704
      ],
      "id": "f94e0120-e480-4ddb-8124-655830577281",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen3-max",
          "mode": "list",
          "cachedResultName": "ali/qwen3-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7664,
        896
      ],
      "id": "04771898-b068-47a5-b06f-f3d40c4f8aa8",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mongoCollection": {
          "__rl": true,
          "value": "app_reviews_vector_store",
          "mode": "list",
          "cachedResultName": "app_reviews_vector_store"
        },
        "vectorIndexName": "vector_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        7344,
        896
      ],
      "id": "0f2d6cf8-24e2-4deb-a304-fc419a93e372",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "15w6IyvgHLjLHFmC",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": "Qwen/Qwen3-Embedding-8B",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        7328,
        1072
      ],
      "id": "e9c4b7e3-9556-4bf2-a5d8-845e9aa12ef4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "xs6X1kmeua2xdrzt",
          "name": "siliconcloud"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c66ac8ca-0817-4929-b2ca-25401e993f86",
              "name": "input",
              "value": "={{ $json.body.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6224,
        448
      ],
      "id": "f7231cfb-75d0-4d3e-b735-5c1588a7da39",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        8512,
        448
      ],
      "id": "4a01530c-c77d-4afb-aa84-672e70ef2397",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "singlecomment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5952,
        448
      ],
      "id": "7847a8c5-584f-45c2-9eac-7c184d004ee4",
      "name": "Webhook1",
      "webhookId": "bd4adcc7-3c57-470e-b17b-245aad198c00"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// 1. 获取输入数据\n// ============================================\nconst aiResponse = $input.item.json.output;\nconst inputFromEditFields = $('Edit Fields').first().json.input;\n\nif (!aiResponse) {\n    throw new Error(\"未找到 AI 回复内容!\");\n}\n\n// ============================================\n// 2. 清洗 Markdown 标记并解析 JSON\n// ============================================\nlet result;\ntry {\n    // 提取第一个 JSON 对象 {...}\n    const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n    const cleanJson = jsonMatch ? jsonMatch[0] : aiResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n    \n    result = JSON.parse(cleanJson);\n} catch (e) {\n    console.error('JSON 解析失败:', e.message);\n    // 容错数据\n    result = {\n        category: \"解析错误\",\n        feature_module: \"解析错误\",\n        rationale: \"AI返回格式有误: \" + aiResponse,\n        user_level: \"Unknown\",\n        scenario_context: \"N/A\",\n        root_cause_category: \"数据解析失败\",\n        impact_scope: \"N/A\"\n    };\n}\n\n// ============================================\n// 3. RICE 核心算法计算\n// ============================================\n// 确保数值存在,防止 NaN\nconst R = Number(result.reach_score) || 0.5;\nconst I = Number(result.impact_score) || 0.5;\nconst C = Number(result.confidence_score) || 0.5;\nconst E = Number(result.effort_score) || 5; // 默认为最难,防止分母为0导致无穷大\n\n// 公式: (Reach * Impact * Confidence) / Effort\nconst rawScore = (R * I * C) / (E === 0 ? 0.5 : E); // 防止除以0\n\n// 保留两位小数\nconst finalRiceScore = Math.round(rawScore * 100) / 100;\n\n// ============================================\n// 4. 输出最终结果\n// ============================================\nreturn {\n    user_input: inputFromEditFields || \"N/A\",\n    category: result.category || result.catagory || \"未分类\",\n    feature_module: result.feature_module || \"N/A\",\n    user_level: result.user_level || \"Unknown\",\n    rice_total_score: finalRiceScore, // 排序依据\n    rice_r: R,\n    rice_i: I,\n    rice_c: C,\n    rice_e: E,\n    scenario_context: result.scenario_context || \"N/A\",\n    root_cause_category: result.root_cause_category || \"N/A\",\n    impact_scope: result.impact_scope || \"N/A\",\n    rationale: result.rationale || \"无\",\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7696,
        448
      ],
      "id": "7c74f750-64b8-43fa-af09-896bbff1a79b",
      "name": "格式化清洗"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen3-max",
          "mode": "list",
          "cachedResultName": "ali/qwen3-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7952,
        672
      ],
      "id": "4c66702d-a967-424f-93be-aa932c669556",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "使用此工具执行基于向量的相关文档检索，检索产品核心功能模块。",
        "topK": 3
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        8192,
        688
      ],
      "id": "21339603-3912-45db-8632-2fad1d2d7e61",
      "name": "Answer questions with a vector store2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ali/qwen3-max",
          "mode": "list",
          "cachedResultName": "ali/qwen3-max"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        8496,
        880
      ],
      "id": "28440644-5465-4bc5-8cce-9fe4e92193e0",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "TfEeHkaNCRrkvl64",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        8128,
        896
      ],
      "id": "edad58b7-e09e-4da2-9810-0983f6f2f6ef",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// 获取前一个节点 (AI Agent) 的输出并进行 JSON 格式化清洗\n// ============================================\nconst aiResponse = $input.item.json.output;\n\nif (!aiResponse) {\n    throw new Error(\"未找到 AI Agent 的输出内容!\");\n}\n\n// ============================================\n// 清洗 Markdown 标记并解析 JSON\n// ============================================\nlet parsedData;\ntry {\n    // 提取 JSON 对象 {...}\n    const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n    const cleanJson = jsonMatch ? jsonMatch[0] : aiResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n    \n    parsedData = JSON.parse(cleanJson);\n} catch (e) {\n    console.error('JSON 解析失败:', e.message);\n    console.error('原始内容:', aiResponse);\n    \n    // 容错处理:返回原始内容和错误信息\n    return {\n        parse_error: true,\n        error_message: e.message,\n        raw_output: aiResponse,\n        analysis_summary: [],\n        generated_prd: {\n            title: \"解析失败\",\n            background: \"AI 返回格式有误\",\n            user_stories: [],\n            functional_requirements: [],\n            data_metrics: []\n        }\n    };\n}\n\n// ============================================\n// 返回所有具体标签(完整的 PRD 结构)\n// ============================================\nreturn {\n    // 分析摘要部分\n    analysis_summary: parsedData.analysis_summary || [],\n    \n    // PRD 文档部分\n    prd_title: parsedData.generated_prd?.title || \"N/A\",\n    prd_background: parsedData.generated_prd?.background || \"N/A\",\n    prd_user_stories: parsedData.generated_prd?.user_stories || [],\n    prd_functional_requirements: parsedData.generated_prd?.functional_requirements || [],\n    prd_data_metrics: parsedData.generated_prd?.data_metrics || [],\n    \n    // 元数据\n    parse_success: true,\n    parsed_at: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8256,
        448
      ],
      "id": "00e704f9-6296-41e7-8933-2bb7edd68655",
      "name": "再一次格式化清洗"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=原评论： {{ $json.user_input }}\n助手分析：\n  问题分类：{{ $json.category }}\n  user_level:{{ $json.user_level }}\n  RICE score: {{ $json.rice_total_score }}\n  scenario context: {{ $json.scenario_context }}\n  root cause: {{ $json.root_cause_category }}\n  impact scope:{{ $json.impact_scope }}\n  rationale: {{ $json.rationale }}",
        "options": {
          "systemMessage": "你是一个资深产品经理 (Senior Product Manager) 兼解决方案架构师。你的核心职责是进行最终决策，将用户的原始反馈转化为可执行的产品方案。\n\n# 任务背景\n你处于工作流的决策终端。你需要处理以下信息：\n1. **产品档案 (Product Context)**: 当前产品的核心功能定义。\n2. **用户原声 (User Feedback)**: 用户最直接的输入内容。\n3. **RICE 估算 (Agent C Output)**: 上游精算师给出的 RICE 评分参考。\n\n**重要原则**:\nRICE只是负责提供基于历史数据的量化参考，**它的评分并不代表最终结果**。你需要结合用户原声和产品现状进行独立判断。如果RICE的评分与常识或产品战略冲突，请果断修正优先级。\n\n# 你的任务\n综合上述信息，深入分析用户背后的真实诉求，并输出一份包含“分析摘要”和“PRD文档”的 JSON 结果。\n\n# 思考路径 (Chain of Thought)\n1. **独立定性**: 阅读用户原声。这是核心Bug还是体验优化？是伪需求还是真痛点？\n2. **参考校验**: 查看RICE 分数。\n   - *场景 A*: 用户反馈“无法支付”，Agent C 算分较低（可能是历史数据偏差）。**决策**: 覆盖它，定为 P0。\n   - *场景 B*: 用户反馈“想要个五彩斑斓的黑”，Agent C 算分一般。**决策**: 维持低优先级或砍掉。\n3. **根因分析**: 推导问题的根本原因（是技术性能、交互逻辑还是用户认知偏差？）。\n4. **方案构建**: 基于 MVP 原则设计解决方案。\n\n# 输出格式 (JSON Only)\n请严格输出符合以下结构的 JSON，不要包含任何 Markdown 格式以外的文本：\n\n```json\n{\n  \"analysis_summary\": [\n    {\n      \"pain_point\": \"一针见血的用户痛点 (如：分享流程中断)\",\n      \"root_cause\": \"问题的本质原因 (如：后端图片合成耗时过长)\",\n      \"scenario\": \"用户触发问题的具体场景 (如：高强度运动后渴望即时反馈)\",\n      \"priority\": \"P0 (Critical) | P1 (High) | P2 (Medium) | P3 (Low) - 由你最终裁定\"\n    }\n  ],\n  \"generated_prd\": {\n    \"title\": \"PRD 标题 (动宾结构)\",\n    \"background\": \"项目背景与价值 (结合用户痛点与业务影响)\",\n    \"user_stories\": [\n      \"User Story 1\",\n      \"User Story 2\"\n    ],\n    \"functional_requirements\": [\n      {\n        \"id\": \"REQ-01\",\n        \"name\": \"功能点名称\",\n        \"description\": \"详细的逻辑描述\",\n        \"acceptance_criteria\": \"明确的验收标准\"\n      }\n    ],\n    \"data_metrics\": [\"核心指标1\", \"核心指标2\"]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7904,
        448
      ],
      "id": "50c32d6a-d09c-40bc-a446-9b315be15539",
      "name": "输出PRD"
    }
  ],
  "pinData": {},
  "connections": {
    "Qwen-turbo": {
      "ai_languageModel": [
        [
          {
            "node": "需求分析",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "需求分析": {
      "main": [
        [
          {
            "node": "心理转译",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "心理转译",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "心理转译": {
      "main": [
        [
          {
            "node": "评分仲裁",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "评分仲裁",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "需求分析",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "评分仲裁": {
      "main": [
        [
          {
            "node": "格式化清洗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "评分仲裁",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "需求分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化清洗": {
      "main": [
        [
          {
            "node": "输出PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "输出PRD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store2",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store2": {
      "ai_tool": [
        [
          {
            "node": "输出PRD",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "再一次格式化清洗": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "输出PRD": {
      "main": [
        [
          {
            "node": "再一次格式化清洗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "11d0eaa0-9419-4292-bc7a-af77a018b87b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c1634ba8f7f42d856dff452ab802e27f098c1dbe780f19357badcce4b9b19dc"
  },
  "id": "h01Y19c3z3yq4MTb",
  "tags": []
}